{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
    <div class="container">
        <h1>Statistiques</h1>
        <canvas id="categorie" width="400" height="100"></canvas>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let categories = {{ categories|raw }};
        let counts = {{ counts|raw }};

        let ctx = document.getElementById('categorie').getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: categories,
                datasets: [{
                    label: 'Répartition des catégories',
                    data: counts,
                    backgroundColor: [
                        'red', 'green', 'blue', 'yellow', 'purple', 'orange','cyan', 'magenta'
                    ]
                }]
            }
        });
    </script>
{% endblock %}
